@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 39% 11%;
    --foreground: 210 40% 98%;

    --card: 222 39% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 39% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 37 90% 66%;
    --primary-foreground: 222 39% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 85%;

    --accent: 180 95% 33%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: 37 90% 66%;

    --radius: 0.8rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
