
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 39% 11%;
    --foreground: 210 40% 98%;

    --card: 222 39% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 39% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 37 90% 66%;
    --primary-foreground: 222 39% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 85%;

    --accent: 180 95% 33%;
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217 33% 25%;
    --input: 217 33% 17%;
    --ring: 37 90% 66%;

    --radius: 0.8rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .feature-row {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  .feature-row.is-visible {
    opacity: 1;
  }

  .feature-card {
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  .feature-row .feature-card-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  .feature-row .feature-card-right {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .feature-row.is-visible .feature-card-left,
  .feature-row.is-visible .feature-card-right {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.3s;
  }
}

@layer utilities {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  .pause-animation {
    animation-play-state: paused;
  }
}
